.wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
}

.cardsContainer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 16px;
}

.cart {
  display: flex;
  flex-direction: column;
  width: 300px;
  min-height: 100%;
  padding: 8px;
  gap: 16px;
  margin-left: 20px;
}

.container {
  display: flex;
}

.sider {
  display: flex;
  width: 300px;
  flex-direction: column;
  min-height: 100%;
  padding: 8px;
  gap: 16px;
}
